.hover:hover{
    color: black;
    background: white;
    font-weight: bold;
}

.bg-black a{
    padding: 1%;
    margin: 7.5px;
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.bg-black{
    height: 100%;
    overflow: hidden;
    height: 100px;
}

.floatright{
    float: right  
}