.bg-black a{
    width: 100%;
    font-size: 36px;
    padding: 0.5%;
    margin: 7.5px;
    text-decoration: none;
}

.bg-black{
    text-align: center;
}

.bg-black hr{
    background-color: #90e0ef;
    height: 10px;
}

.hover{
    color:white;
}

.hover:hover{
    color: #caf0f8;
}
.current{
    color: #90e0ef;
}
